<%
	
	const sections = !Array.isArray(publication.body) 
			? [ marked(publication.body) ]
			: publication.body
				.map(body => {
					switch(body.type.toUpperCase()) {
						case "MARKDOWN":
							return marked(body.body);
						case "IMAGE":
							return "<p>Placeholder for Image</p>"
						default:
							throw new Error("Unsupported body-type: " + body.type.toUpperCase());
					}
				});
	sections.forEach(section => { %> 
		<div>
			<%- section %>
		</div>
	<% }) %>
